/* Global Declarations */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Debugging */
    /* border: 1px solid rgb(0, 255, 234); */
    
    /* Global default font */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body {
    background-color: #222222;
    overflow: hidden;
}

p {
  font-size: 1.3em;
}

button {
    outline: none;
    background-color: black;
    color: white;
    font-size: 1.3em;

}

h1, h2 {
    color: yellow;
    text-align: center;
}

li {
    list-style: none;
}


/* Outer-Container Section */

.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* Top-Bar Container */

.top-bar p {
    float: right;
}

/* Inner-Container Section */
.inner-container {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;

}
/* Header/Quiz Intro Section */
.quiz-intro, main {
    display: none;
    margin-bottom: 30vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #3b3b3b;
}
.quiz-intro p {
    text-align: center;
}
.quiz-intro button {
    display: block;
    margin: 0 auto;
    background-color: black;
}
/* Main Quiz Content */


main {
    display: block;
}


/* Question Screen */
.question-screen {
    display: none;
}

/* Finish Screen */
.quiz-finish-screen {
    display: none;
}

/* Highscores Screen */
.highscores-screen {
    display: block;
}

.highscores-screen ol {
    overflow-y: scroll;
    max-height: 200px;

}







