*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Debugging */
    border: 1px solid blue;
    
    /* Global default font */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {
    background-color: grey;
}

p {
  color: white;
  font-size: 1.3em;
}

button {
    outline: none;
    background-color: black;
    color: white;
    font-size: 1em;

}

.outer-container {
    padding: 10px;
}

.top-bar button {
    float: right;
}









